@import "../../styles/screens.scss";

.generalMessage {
	width: 45%;
	padding: 1rem;
	border-radius: 0.5rem;
	display: flex;
	white-space: pre-wrap;

	.texts {
		flex-grow: 1;
	}

	.avatar {
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		margin-right: 1rem;
	}

	.metatext {
		color: #666;
		font-size: 0.75rem;
		padding-bottom: 4px;
	}

	.bullet {
		padding: 0 2px;
	}

	.actions {
		display: flex;
		justify-content: flex-end;
		gap: 0.5rem;

		& > * {
			display: flex;
			align-items: center;

			.info {
				font-size: 0.8rem;
			}
		}
	}

	@media screen and (max-width: $laptop) {
		width: 65%;
	}

	@media screen and (max-width: $tablet) {
		width: 85%;
	}

	@media screen and (max-width: $phone) {
		width: 100%;
	}
}
