.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(0.2rem);

	.loader {
		width: 4rem;
		height: 4rem;
		border: 10px solid #aaa !important;
		border-top-color: #555 !important;
		border-radius: 50%;
		animation: spin 0.6s linear 0s infinite;
		box-shadow: inset 0 0 0.2rem 0.2rem #ccc;
	}

	@keyframes spin {
		from {
			transform: rotateZ(0);
		}

		to {
			transform: rotateZ(360deg);
		}
	}
}
