.statistic {
	display: flex;
	flex-direction: column;
	align-items: center;

	.value {
		font-size: 2rem;
		line-height: 1.5rem;
		font-weight: 600;
	}

	.label {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 0.8rem;
	}
}
