.input {
	background-color: #aaffaa;
	padding: 1rem;
	display: flex;
	align-items: flex-end;
	gap: 1rem;
	width: 100%;
	margin-top: 1rem;

	.textField {
		flex-grow: 1;
		height: 100%;
		height: 8rem;
		resize: none;
		outline: none;
		padding: 0.5rem;
		border-radius: 4px;
	}

	.submitButton {
		transform: rotateZ(90deg);
		opacity: 0.8;
		font-size: 3rem;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}

		&.disabled {
			opacity: 0.4;
			cursor: default;
		}
	}
}
