@import "../../styles/screens.scss";
@import "../../styles/variables.scss";

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: $header-height;
	background-color: white;
	box-shadow: 0 2px 2px 2px #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4rem;

	.title {
		font-weight: 600;
		font-size: 2rem;
		display: flex;
		justify-content: center;
	}

	.metrics {
		display: flex;
		align-items: center;
		gap: 1.5rem;

		.lastMessageDate {
			font-weight: 500;
		}

		@media screen and (max-width: $tablet) {
			display: none;
		}
	}
}
